{% extends 'layout/LayoutBloc.html.twig' %}

{% block title %} Sortie {{ sortie.id }}{% endblock %}

{% block main %}
    <h1>Annulation sortie</h1>
    <p>{{ sortie.id }}</p>
    <p>{{ sortie.nom }}</p>
    {{ form_start(sortieForm) }}
        {{ form_row(sortieForm.infoSortie, {'attr': {'class' : 'form-control'}} ) }}
        {{ form_row(sortieForm.annuler) }}
        <a href=" {{ path('index') }}"><input type="button" value="retour" class=""></a>
    {{ form_end(sortieForm, {'render_rest': false}) }}
{% endblock %}