{% extends 'layout/LayoutBloc.html.twig' %}

{% block title %} Sortie {{ sortie.id }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('css/Style.css') }}">
{% endblock %}
{% block main %}
    <div class="container">
        <div class="center">
            <h1>Annulation sortie</h1>
            {{ form_start(sortieForm) }}
            <div class="disabled">
                {{ form_row(sortieForm.nom)|date() }}
                {{ form_row(sortieForm.datedebut) }}
                {{ form_row(sortieForm.site) }}
                {{ form_row(sortieForm.lieu) }}
                {{ form_row(sortieForm.motifAnnulation, {'attr': {'class' : 'form-control'}} ) }}
                {{ form_row(sortieForm.annuler) }}
            </div>
            <a href=" {{ path('index') }}"><input type="button" value="retour" class=""></a>
            {{ form_end(sortieForm) }}
        </div>
    </div>
{% endblock %}