{% extends 'layout/LayoutBloc.html.twig' %}

{% block title %} Afficher une sortie {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/Style.css') }}">
{% endblock %}

{% block main %}

    <p> Nom de la sortie : {{ sortie.nom }} </p>
    <p> Date et heure de la sortie : {{ sortie.dateDebut|date('d M Y') }} </p>
    <p> Date limite d'inscription : {{ sortie.limitInscription |date('d M Y') }} </p>
    <p> Nombre de places : {{ sortie.nbInscriptionMax }} </p>
    <p> Durée : {{ sortie.duree }} min </p>
    <p> Description et infos : {{ sortie.infoSortie }} </p>
    <p> Lieu : {{ sortie.lieu.nom }} </p>
    <p> Rue : {{ sortie.lieu.rue }} </p>
    <p> Ville : {{ sortie.lieu.idVille.nom }} </p>
    <p> Code postal : {{ sortie.lieu.idVille.codePostal}} </p>
    <p> Latitude : {{ sortie.lieu.latitude }} </p>
    <p> Longitude : {{ sortie.lieu.longitude }} </p>

    {% if(dejaInscrit == false) %}
        {% if(nbInscripts < sortie.nbInscriptionMax and sortie.etat.id == 2) %}
            <form action="{{ path('inscription', {'id': sortie.id}) }}" method="post">
                <input type="submit" value="inscrire" class="">
            </form>
        {% else %}
            {# Ici block avec une notif ! Aucune inscription de disponible ou type = cloturé #}
        {% endif %}
    {% else %}
        {% if(sortie.etat.id in [2,3]) %}
            <form action="{{ path('desinscription', {'id': sortie.id}) }}" method="post">
                <input type="submit" value="desinscrire" class="">
            </form>
        {% else %}
            {# Ici block avec une notif ! Aucune inscription de disponible ou type = cloturé #}
        {% endif %}
    {% endif %}

        <p>Liste des inscrit : {{ nbInscripts }}/{{ sortie.nbInscriptionMax }}</p>
    <div class="container">


            <table class="table">
                <thead>
                <tr>
                <th scope ='col'>pseudo</th>
                <th scope ='col'>nom</th>
                </tr>
                </thead>
                    {% for participant in lesParticipants %}
                    <tbody>
                        <tr>
                            <td >{{ participant.pseudo }}</td>
                            <td>{{ participant.nom }}</td>
                        </tr>
                    </tbody>
                    {%  endfor %}

            </table>
            
    </div>


    <a href=" {{ path('index') }}"><input type="button" value="retour" class=""></a>


{% endblock %}