{% extends 'layout/LayoutBloc.html.twig' %}

{% block title %}Profil{% endblock %}

{% block main %}

    <h1>Profil</h1>

    {{ form_start(participantForm) }}
    <style type="text/css">
        .pictureProfile {
            width: 300px;
            height: 300px;
            border: 3px solid black;
            object-fit: contain;}
    </style>
    <img src="{{ asset('uploads/photos/' ~ ProfilPictureValue) }}" class="pictureProfile" alt="uploads/photos/{{ ProfilPictureValue }}">
    {{ form_widget(participantForm)}}
        <button type="submit" class="btn">Update</button>
    {{ form_end(participantForm) }}
{% endblock %}