{% extends 'layout/LayoutBloc.html.twig' %}

{% block title %}Profil{% endblock %}

{% block main %}

    <h1>Profil</h1>

    {{ form_start(participantForm) }}
    <img src="{{ asset('uploads/photos/' ~ ProfilPictureValue) }}" alt="uploads/photos/{{ ProfilPictureValue }}">
        {{ form_widget(participantForm)}}
        <button type="submit" class="btn">Update</button>
    {{ form_end(participantForm) }}
{% endblock %}